In [42]:
import pandas as pd
from requests_ntlm import HttpNtlmAuth
import requests

In [43]:
# Credenciales para la autenticación NTLM
username = 'VMAYOMOR'  # Formato: DOMINIO\USUARIO
password = 'mOuA5847'

# URL del recurso HTML
url = "https://gps.prismamediosdepago.com/Documents/Telefonos%20MULTIMARCA%20-%20AMEX%20-%20MASTERCARD%20-%20VISA%20-%20Otras%20marcas%20-%2003.12.2024.html"

In [44]:
# Realizar la solicitud con autenticación NTLM
response = requests.get(url, auth=HttpNtlmAuth(username, password))

# Verificar el estado de la solicitud
if response.status_code == 200:
    # Extraer las tablas usando pandas
    tablas = pd.read_html(response.text,header=0)  # response.text contiene el HTML
else:
    print(f"Error al acceder al recurso: {response.status_code}")

C:\Users\io6723\AppData\Local\Temp\3\ipykernel_10508\2416780957.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tablas = pd.read_html(response.text,header=0)  # response.text contiene el HTML

In [45]:
len(tablas)

1

In [46]:
tablas[0]

,MARCA,SECTOR / PRODUCTO,INTERNO IVR,INTERNO OPERADOR,TELEFONO,TELEFONO INTERIOR,TELEFONO EXTERIOR,OBSERVACIONES / PRESTADOR
0,Amex,Santander Green,2639,6455,4379-2639,0810-333-2639,"54-11-4379-2639 (desde el exterior, con cobro ...",NaN
1,Amex,Santander Gold,2639,6455,4379-2639,0810-333-2639,"54-11-4379-2639 (desde el exterior, con cobro ...",NaN
2,Amex,Green (resto de los Bancos),NaN,6466,4379-2400,0810-222-2401,"54-11-4379-2400 (desde el exterior, con cobro ...",NaN
3,Amex,Gold (resto de los Bancos),NaN,6466,4379-2500,0810-333-2501,"54-11-4379-2500 (desde el exterior, con cobro ...",NaN
4,Amex,Platinum,2700,4017,0800-333-0700 / 4379-2700,NaN,"(54-11) 4379-2700 (desde el exterior, con cobr...",NaN
...,...,...,...,...,...,...,...,...
148,Red Aura (331),Consultas y reclamos,NaN,NaN,4796-8787,0810-122-8787,NaN,NaN
149,Tarjeta de Asignacion Familiar - Carrefour (591),Denuncias,NaN,NaN,4379-2404,NaN,NaN,NaN
150,Tarjeta de Asignacion Familiar - Coto (590),Consultas,NaN,NaN,0810-999-3900,NaN,NaN,NaN
151,Tarjeta de Asignacion Familiar - Coto (590),Denuncias,NaN,NaN,4379-6343,NaN,NaN,NaN
152,Ticket Nacion (512),Consultas y reclamos,4082,NaN,0810-666-4444,NaN,NaN,NaN

In [41]:
tablas[0].to_csv('Internos.csv',index=False)